{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-xl-12">
      <div class="card card-shadow mb-4 ">
        <div class="card-header border-0">
          <div class="custom-title-wrap bar-purple">
            <div class="custom-title">
              <h2> Welcome to Facebook Bot DashBoard</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              You can Add Users and Facebook Posts Links and All Users can copy that link in their bot file.
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
